.headerTitle {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: large;
    background-color: black;
    padding-left: 20px;
    padding: 25px;
}

.headerTitle .container-fluid {
    display: flex;
    justify-content: space-between;
}

.headerTitle .navbar-brand {
    box-shadow: none;
    text-decoration: none;
    color: white;
    font-size: x-large;
    background-color: rgba(128, 128, 128, 0.308);
    padding: 7px 13px;
}

.headerTitle .navbar-nav {
    background-color: black;
    margin: 0px;
}

.headerTitle .navbar-nav #hom {
    color: white;
}

.headerTitle .navbar-nav a {
    color: white;
}

.footer {
    background-color: black;
    color: white;
    padding: 1rem;
    bottom: 0px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .navegacion {
    padding-right: 30px;
}

/* Mujer */
/*Atributos*/
.anadirAlCarritoCarteraV {
    grid-area: anadirCarteraV;
}

.anadirAlCarritoCarteraWaffle {
    grid-area: anadirCarteraWaffle;
}

.anadirAlCarritoCarteraCiervo {
    grid-area: anadirCarteraCiervo;
}

.anadirAlCarritoCarteraCuadro {
    grid-area: anadirCarteraCuadro;
}

/* Fin de atributos*/
.infoM {
    margin: 50px 250px;
}

.carteraMujer {
    width: 250px;
    height: 220px;
}

.infoDeCarteraV {
    grid-area: infoDeCarteraV;
    line-height: 5px;
    align-self: center;
    text-align: left center;
    background-color: gray;
    margin: 0px 0px;
    padding: 35px 30px;
    padding-left: 35px;
}

#carouselCarteraV {
    grid-area: CarteraV;
    justify-self: center;
}

.infoDeCarteraWaffle {
    grid-area: infoDeCarteraWaffle;
    justify-self: right;
    line-height: 5px;
    background-color: gray;
    margin: 0px 0px;
    padding: 40px 30px;
    padding-left: 35vh;
}

#carouselCarteraWaffle {
    grid-area: CarteraWaffle;
    justify-self: center;
}

.infoDeCarteraCiervo {
    grid-area: infoDeCarteraCiervo;
    line-height: 5px;
    align-self: center;
    text-align: left center;
    background-color: gray;
    margin: 0px 0px;
    padding: 35px 30px;
    padding-left: 35px;
}

#carouselCarteraCiervo {
    grid-area: CarteraCiervo;
    justify-self: center;
}

.infoDeCarteraCuadro {
    grid-area: infoDeCarteraCuadro;
    justify-self: right;
    line-height: 5px;
    background-color: gray;
    margin: 0px 0px;
    padding: 40px 30px;
    padding-left: 35vh;
}

#carouselCarteraCuadro {
    grid-area: CarteraCuadro;
    justify-self: center;
}

#grillaProductosMujer {
    display: grid;
    grid-template-areas: "infoDeCarteraV infoDeCarteraV CarteraV" "anadirCarteraV anadirCarteraV anadirCarteraV" "CarteraWaffle infoDeCarteraWaffle infoDeCarteraWaffle" "anadirCarteraWaffle anadirCarteraWaffle anadirCarteraWaffle" "infoDeCarteraCiervo infoDeCarteraCiervo CarteraCiervo" "anadirCarteraCiervo anadirCarteraCiervo anadirCarteraCiervo" "CarteraCuadro infoDeCarteraCuadro infoDeCarteraCuadro" "anadirCarteraCuadro anadirCarteraCuadro anadirCarteraCuadro";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 250px 100px 250px 100px 250px 100px 250px 100px;
    align-items: center;
    justify-self: center;
    margin: 6%;
    padding: 0px;
}

#grillaProductosMujer .tituloM {
    color: white;
    font-size: x-large;
    text-shadow: black 0.1em;
}

/* FIN DE MUJER*/
/* INFORMACION */
#ubicacion {
    display: grid;
    grid-template-areas: "mapa" "info";
    grid-template-columns: 100%;
    grid-template-rows: 450px 300px;
    margin: 3vh;
    padding: 2vh;
}
#ubicacion .mapa {
    grid-area: mapa;
    justify-self: center;
}
#ubicacion .ubicacion-Informacion {
    grid-area: info;
    justify-self: left;
    font-size: large;
}

/*COMENTARIOS*/
.formComen {
    margin: 15px;
    padding: 20px;
    border: 1px black;
}
.formComen .buttonEnviar {
    margin-top: 15px;
    position: center;
    padding: 12px;
}

@media screen and (max-width: 530px) {
.headerTitle {
    font-size: larger;
    align-self: center;
    flex-direction: row;
    padding: 20px;
}
.headerTitle__font__logo {
    font-size: larger;
    padding: 2px 7px;
}
#grid {
    grid-template-areas: "titulo" "image_modelo" "informacion";
    grid-template-columns: 1fr;
    grid-template-rows: 47px auto auto;
    flex-direction: column;
    padding: 0px;
}
#grid .imagen_modelo {
    size: 100vh;
    margin-top: 4px;
    float: none;
    align-items: center;
}
.mochilas {
    flex-direction: column;
    align-items: center;
}
.mochilas .imgMochilas {
    padding-bottom: 10px;
}
    /* HOMBRE */
#grillaProductos {
    grid-template-areas: "productoA" "descripcionA" "productoB" "descripcionB" "productoC" "descripcionC";
    grid-template-columns: 1fr;
    grid-template-rows: 37vh 10vh 37vh 10vh 40vh 10vh;
    grid-gap: 2vh;
    margin-bottom: 7vh;
}
.descripcionA {
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
.descripcionB {
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
.descripcionC {
    padding-left: 4vh;
    padding-right: 4vh;
    padding-top: 1vh;
    padding-bottom: 2vh;
}
/*MUJER*/
.infoDeCarteraV {
    background-color: gray;
    margin: 0px 0px;
    padding: 10px 20px;
    padding-left: 10px;
    align-self: center;
}
.infoDeCarteraWaffle {
    background-color: gray;
    margin: 0px 0px;
    padding: 10px 20px;
    padding-left: 10px;
    align-self: center;
}
.infoDeCarteraCiervo {
    background-color: gray;
    margin: 0px 0px;
    padding: 10px 20px;
    padding-left: 10px;
    align-self: center;
}
.infoDeCarteraCuadro {
    background-color: gray;
    margin: 0px 0px;
    padding: 10px 20px;
    padding-left: 10px;
    align-self: center;
}
#grillaProductosMujer {
    grid-template-areas: "CarteraV" "infoDeCarteraV" "CarteraWaffle" "infoDeCarteraWaffle" "CarteraCiervo" "infoDeCarteraCiervo" "CarteraCuadro" "infoDeCarteraCuadro";
    grid-template-columns: 1fr;
    grid-template-rows: 37vh 10vh 37vh 10vh 37vh 10vh 37vh 10vh;
    padding-bottom: 10vh;
    justify-items: center;
    align-items: center;
}
.infoM {
    margin: 10px 20px;
}
.tituloM__Descripcion {
    text-align: left;
}
.tituloM {
    text-align: left;
}
/*INFORMACION*/
#mapa-aspecto {
    width: 350px;
    height: 300px;
}
#ubicacion {
    grid-template-rows: 350px 300px;
}
.navegacion {
    display: flex;
    position: right;
    margin: 0px;
    align-items: center;
    justify-items: left;
}
}
@-webkit-keyframes imagen_modelo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes imagen_modelo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media screen and (min-width: 531px) {
    #grid {
        grid-template-areas: "titulo imagen_modelo" "informacion imagen_modelo";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 47px 58vh;
        flex-direction: column;
        padding: 0px;
    }
    #mochMedida {
        display: none;
    }
    #mochBolsillos {
        display: none;
    }
    #mochV {
        display: none;
    }
    #grillaProductos {
        grid-template-areas: "productoA productoB" "descripcionA descripcionB";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 28vh 10vh;
        grid-gap: 2vh;
        margin-left: 2vh;
        margin-right: 2vh;
        justify-items: center;
        align-items: center;
    }
    .descripcionA {
        padding: 4vh;
    }
    .descripcionB {
        padding: 4vh;
    }
    .imagen_ProductoA {
        size: 15vh;
    }
    #carouselBandolera {
        display: none;
    }
    .imagen_ProductoB {
        size: 15vh;
    }
    .descripcionC {
        display: none;
    }
}
a {
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 740px) {
    #mochV {
        display: block;
    }
}